<li class="nav-item"><a class="nav-link <%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
<li class="nav-item"><a class="nav-link <%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">Collection</a></li>
